<!DOCTYPE html>
<html>
<style>
/* Ensure layout covers the entire screen. */

html {
    height: 100%;
}


/* Place drawer and content side by side. */

.mdl-textfield {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
</style>
<!--<div class="mdl-layout mdl-js-layout mdl-layout--flex-drawer mdl-layout--fixed-header"> -->
<!--<header class="mdl-layout__header"> -->
<!--<div class="mdl-layout__header-row"> -->
<!-- <div class="mdl-layout-spacer"></div> -->
<!--<body>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-left">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
        </label>
      </div>
      </body>-->
<!-- <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Movie Genres</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Crime</a>
      <a class="mdl-navigation__link" href="">Action</a>
      <a class="mdl-navigation__link" href="">Animation</a>
      <a class="mdl-navigation__link" href="">Horror</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
    <div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('showGenres')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Show All Genres
		</a>
	</div>
	<div class="col-md-6 text-right">
					{%if 'username' not in session %}
			<a href="{{url_for('showLogin')}}">Click Here to Login </a>
			{% else %}
			<a href="{{url_for('logout')}}">Logout </a>

			{% endif %}
			</div> 
  </main>-->
</div>
<section class="iso-section">
    <div class="row">
    </div>
</section>
</div>
</div>

</html>
